<div><%= f.label :first_name %><br />
<%= f.text_field :first_name, :autofocus => true, value: params[:first_name] %></div>

<div><%= f.label :last_name %><br />
<%= f.text_field :last_name, :autofocus => true, value: params[:last_name] %></div>

<div><%= f.label :phone %><br />
<%= f.text_field :phone, :autofocus => true %></div>

<%= f.label :picture %><br>
<!-- Removing require -->
<%= f.file_field :picture %><br><br>

<div><%= f.label :role %><br />
<%= f.text_field :role, :autofocus => true %></div>

<div><%= f.label :admin %><br />
<%= f.text_field :admin, :autofocus => true %></div>  

<div><%= f.label :notes %><br />
<%= f.text_field :notes, :autofocus => true %></div>

<div><%= f.label :email %><br />
<%= f.text_field :email, :autofocus => true, value: params[:email] %></div>


  
