<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, :autofocus => true %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name, :autofocus => true %></div>

  <div><%= f.label :phone %><br />
  <%= f.text_field :phone, :autofocus => true %></div>

  <div><%= f.label :picture %><br />
  <%= f.text_field :picture, :autofocus => true %></div>

  <!-- <div><%= f.label :role %><br />
  <%= f.text_field :role, :autofocus => true %></div>

  <div><%= f.label :admin %><br />
  <%= f.text_field :admin, :autofocus => true %></div>  

  <div><%= f.label :notes %><br />
  <%= f.text_field :notes, :autofocus => true %></div> -->

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
