.container
  .row.task-index-header
    %h1
      Care tasks for
      =best_in_place @group, :name
      %span.edit-indicator.glyphicon.glyphicon-pencil
  .row
    .col-xs-12.col-md-6.white.my-task-list
      .section-title
        My Care Tasks
        ="(#{@my_tasks.count})"
      -unless @my_tasks.empty?
        -@my_tasks.sort_by(&:task_date).each do |task|
          =render 'task', task: task, group: @group
      %hr
      .section-title
        My Recent Tasks
      -unless @past_user_tasks.empty?
        -@past_user_tasks.sort_by(&:task_date).reverse.each do |task|
          =render 'tasks/all_task', task: task, group: @group
      -else
        %h3.card-title{style: "margin-top: 0; padding: 30px;"}
          ="#{@user.first_name} hasn't completed any tasks...yet!"
    .col-md-1
    .col-xs-12.col-md-5.white.my-task-list
      .section-title
        All Upcoming Care Tasks
        ="(#{@tasks.count})"
        =link_to new_group_task_path(current_user.group) do
          %h4 Add New
      .cal
        =link_to "<", params: {month: (@date.beginning_of_month-1).strftime("%B-%Y")}
        =@date.strftime("%B %Y")
        =link_to ">", :month => (@date.end_of_month+1).strftime("%B-%Y")
        =calendar_for @this_months_tasks, :year => @date.year, :month=> @date.month do |calendar|
          =calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')
          -calendar.day(:day_method => :task_date) do |day, tasks|
            =day.day
            %ul
              -for task in tasks
                %li=link_to h(task.title), group_task_path(@group, task.id)

      -@tasks.sort_by(&:task_date).each do |task|
        =render 'all_task', task: task, group: @group
      .section-title
        Open Tasks
        ="(#{@open_tasks.count})"
      -unless @open_tasks.empty?
        -@open_tasks.sort_by(&:task_date).each do |task|
          =render 'all_task', task: task, group: @group
      -else
        =image_tag("#{random_photo}", class: 'random-photo')
        =render 'tasks/no_group_tasks'

#first-time-user.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}X
        %h1 Hello, First-Timer!
      .modal-body
        %h4 This is a sweet CareWell modal!
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

:javascript
  $(document).ready(function () {

    //first time user
    if (#{current_user.sign_in_count} == 1) {
      //the JS below will make it ALWAYS show - need logic to only have it show 1x.
      $('.first-time-user').show();
      // check if the modal has been viewed this session
      if (getCookie("welcomeModalViewed") === "") {
        $('#first-time-user').modal('show');   // show the modal
        document.cookie = "welcomeModalViewed=true";  // set a cookie
      }

    }

    $('.first-time-user').on('click', function() {
      $(this).hide();
    });

    //second-time user

    if (#{@my_tasks.count} < 1) {
      $('.nav-tabs li:last').addClass('active');
      $('#opentasks').addClass('in active');
    }
    else {
      $('.nav-tabs li:first').addClass('active');
      $('#mytasks').addClass('in active');
    }
  });

  // Cookie Functions
  // This gets the value of a cookie
  function getCookie(cookiename) {
    var name = cookiename + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
      var c = ca[i].trim();
      if (c.indexOf(name)==0) return c.substring(name.length,c.length);
    }
    return "";
  }