.container
  .row
    .col-md-4
    .col-md-4
      .edit-register-form
        .h2{style: "margin-bottom: 20px;"}="Edit Profile"

        = form_for(@group) do |f|
          - if @group.errors.any?
            #error_explanation
              %h2
                = pluralize(@group.errors.count, "error")
                prohibited this picture from being saved:
              %ul
                - @group.errors.full_messages.each do |msg|
                  %li= msg
          .field
            = f.label :Edit_Group_Picture, "Group Picture"
            = f.file_field :picture, {style: "margin-bottom: 20px;"}
          .field
            = f.label :name
            %br
            = f.text_field :name, {style: "width: 320px; padding: 10px"}
            %br

            = f.submit :class => "update-group-button"

        =link_to 'Return to your group page', :back, style: "color: #293f54;"
