.container
  .row
    %h1.application-section-header
      My Group Activity

  .row
    .col-md-8.col-xs-12
      .card
        .section-title
          The Week By Numbers
        .section-contents.overflow-hidden
          .col-xs-4.col-md-4.center
            .number-summary-stats
              =@counts_arrays.first
            %p.number-summary Tasks Completed
          .col-xs-4.col-md-4.center
            .number-summary-stats
              =@active_users
            %p.number-summary Active Family Members
          .col-xs-4.col-md-4.center
            .number-summary-stats.green
              =@duration_week
            %p.number-summary Hours Caring
      .card.clear
        .section-title
          %ul.nav.nav-pills
            %li.active
              %a{href: "#assigned_per_week", 'data-toggle' => "pill"}
                Tasks Per Week
            %li
              %a{href: "#average_time_per_task", 'data-toggle' => "pill"}
                Average Time
            %li
              %a{href: "#tasks_by_category", 'data-toggle' => "pill"}
                Tasks by Category
        .section-contents
          .tab-content
            .tab-pane.active{id: "assigned_per_week"}
              .greentext.text-center
                %canvas#lineChart{height: "400", width: "400"}
            .tab-pane{id: "average_time_per_task"}
              .greentext.text-center
                %canvas#durationChart{height: "400", width: "400"}
            .tab-pane{id: "tasks_by_category"}
              .greentext.text-center
                %canvas#barChart{height: "400", width: "400"}

    .col-md-4.col-xs-12
      .card
        .section-title
          Our Team

        -if @group.picture_url == nil
          %img{src: "http://placehold.it/400x250/f2f2f2/ef5e5a&text=Add+Your+Group+Photo!", class: 'group-photo'}
        -else
          =image_tag(@group.picture_url(:group), :class=>'group-photo')
        = form_for(@group) do |f|
          - if @group.errors.any?
            #error_explanation
              %h2
                = pluralize(@group.errors.count, "error")
                prohibited this picture from being saved:
              %ul
                - @group.errors.full_messages.each do |msg|
                  %li= msg
          .field
            = f.file_field :picture, :required => true
          .actions
            -if @group.picture_url == nil
              = f.submit "Add Photo"
            -else
              = f.submit "Change Photo"
            %i.fa.fa-camera.fa-3x.choose-group-photo
        .section-contents.padded.overflow-hidden
          .section-subtitle
            Members
          -@users.each do |user|
            .squarelinks
              =link_to group_user_path(@group, user.id) do
                -if user.picture_url == nil
                  =image_tag("mickey-mouse.jpg", class: "group-user-photo")
                -else
                  =image_tag(user.picture_url(:sq_thumb), :class => "group-user-photo")
          #addmember.squarelinks
            %a{'data-toggle' => 'modal', 'data-target' => '#myModal'}
              Invite
          =render 'tasks/modal'

= javascript_include_tag "Chart.js"


=render "linechart"
=render "barchart"
=render "durationchart"