= javascript_include_tag "Chart.js"

.row
  .col-md-6
    =image_tag('http://placekitten.com/400/250', :class => 'group-photo')

  .col-md-6
    %h1="The #{@group.name}"
    =link_to 'edit group name', edit_group_path
    %h3="#{@group_count} Members"
  .group-member
    -@users.each do |user|
      =image_tag(user.picture_url(:sq_thumb), :class => "group-user-photo")

%h1 Group Statistics
.graph-background 
  .row
    .col-md-6
      %h3 Tasks Per Week
      %canvas#lineChart{height: "400", width: "400"}
    .col-md-6
      %h3 Tasks by Category
      %canvas#barChart{height: "400", width: "400"} 
    / -@category_avg.each do |task, average|
    /   ="#{task}: #{average}"
  .row
    .col-md-6
      %h3 Members who Completed Tasks This Past Month
      -@top_three_members.each do |hash|
        -if hash["group_id"].to_i == @group.id
          -user = @users.find(hash["id"])
          =image_tag(user.picture_url(:sq_thumb))
          =user.first_name
          ="#{hash["cnt"]} Tasks Completed"
          %br
    .col-md-6
      %h3="Last Three Tasks Completed"
    -@last_three_tasks_completed.each do |task|
      ="#{task.title} was completed by #{task.assignee.first_name}"
      %br
=render "linechart"
=render "barchart"