.container
  .row
    .task-index-header
      %h1.application-section-header
        -if @user == current_user
          My Preferences
        -else
          = "#{@user.first_name}'s Profile"
    -if @user == current_user
      =link_to edit_user_registration_path do
        %h4.add-new Edit Preferences
  .row
    .card
      .section-title
        Basic Profile Details
      .section-contents.overflow-hidden{style: "padding: 20px;"}
        .col-xs-12.col-md-6
          -if @user.picture_url == nil
            =image_tag("mickey-mouse-large.jpg", class: "group-user-photo")
          -else
            =image_tag(@user.picture_url(:sq_lg), class: "group-picture")
        .col-xs-12.col-md-5
          %h3
            ="#{@user.first_name} #{@user.last_name}"

          .phone="Phone: #{number_to_phone(@user.phone, area_code: true)}"
          .email="Email: #{@user.email}"

    .card{style: "margin-bottom: 20px"}
      .section-title
        Contact Preferences
      .section-contents.padded{style: "padding: 20px;"}
        Here is where contact preferences will go.

    .card
      .section-title
        Task Preferences
      .section-contents{style: "padding: 20px;"}
        Here is where task preferences will go.