<div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="landing-sign-in">
      <h2>Welcome to CareWell. Sign in to get started.</h2>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div><%= f.email_field :email, :autofocus => true, :placeholder => "Email Address" %></div>

        <div><%= f.password_field :password, :placeholder => "Password" %></div>

        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

        <div><%= f.submit "Sign in", :class => 'btn main-button' %></div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
<div class="col-md-3"></div>