.row.update{"data-id" => update.id}
  .col-md-1.col-xs-2
    -if update.user.picture != nil
      =image_tag(update.user.picture_url(:sq_thumb))
    -else
      =update.user.first_name
  .col-md-8.col-xs-10
    .comment-text
      =update.comment
      %br
      -diff = update.created_at.to_i - Time.now.to_i
      ="#{distance_of_time_in_words(diff)} ago"

      -if current_user == update.user
        %p
          =link_to "delete", group_task_update_path(@group, update.task, update), method: :delete, data: { confirm: 'Are you sure?' }, remote: true
  .col-md-3.col-xs-6
    =raw "<span id='vote#{update.id}'>#{update.votes.count}</span>"
    %span.glyphicon.glyphicon-heart
    -if current_user.voted_for? update
      = button_to "Liked", unvote_group_task_update_path(@group, update.task, update), method: "post", class: 'btn btn-primary', remote: true
    -else
      = button_to "Like", vote_group_task_update_path(@group, update.task, update), method: "post", class: 'btn btn-primary', remote: true
