!!!
%html
  %head
    %title Carewell
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %ul.nav.navbar-nav.head
            %li.navbar-brand
              = link_to image_tag('carewell-logo.gif'), root_url
            -if current_user
              = link_to 'Groups', groups_path
              = link_to 'Tasks', tasks_path
              = link_to 'Updates', updates_path
              = link_to 'Locations', locations_path
            -if user_signed_in?
              %li
                = link_to 'Sign out', destroy_user_session_path, method: :delete
            -else
              %li
                = link_to "Sign up", new_user_registration_path
              %li
                = link_to "Sign in", new_user_session_path
      .container
        - unless notice.blank?
          .notice
            .container
              %p= notice

        - unless alert.blank?
          .alert
            .container
              %p= alert
      .container  
        = yield
        = javascript_include_tag "application"
