!!!
%html
  %head
    %title Carewell
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    %link{href: 'http://fonts.googleapis.com/css?family=Lato:300,700', rel: 'stylesheet', type: 'text/css'}
    %meta{name: "viewport", content:"width=device-width", 'initial-scale' => 1.0}
  %body
    -if (params[:controller] != 'pages') && (params[:controller] != 'devise/sessions') && (params[:controller] != 'registrations')
      .navbar
        .navbar-inner
          .container
            %nav.navbar-inverse{:role=>"navigation"}
              .navbar-header
                %button.navbar-toggle.collapsed{type: 'button', 'data-toggle'=> 'collapse', 'data-target' => '#bs-example-navbar-collapse-6'}
                  %span.sr-only Toggle Navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                = link_to image_tag('carewell-logo-blacksquare.gif', :class=>"logo"), group_tasks_path(current_user.group_id)
              .navbar-collapse.collapse{id: 'bs-example-navbar-collapse-6', style: {height: '1px'}}
                %ul.nav.navbar-nav.pull-right
                  -if current_user
                    -if current_user.group != nil && user_signed_in?
                      %li.navbar-link
                        = link_to 'Tasks', group_tasks_path(current_user.group_id), {class: nav_links_class("index", "tasks")}
                      %li.navbar-link
                        = link_to 'My Group', group_path(current_user.group_id), {class: nav_links_class("show", "groups")}
                      %li.navbar-link
                        = link_to 'Edit Profile', edit_user_registration_path, {class: nav_links_class("edit", "registrations")}
                      %li.navbar-link.last
                        = link_to 'Sign Out', destroy_user_session_path, method: :delete
                    -else
                      %li.navbar-link
                        = link_to "Create New Group", new_user_registration_path
                      %li.navbar-link
                        = link_to "Sign in", new_user_session_path

    .container
      -if flash[:notice]
        = content_tag :div, flash[:notice], class: "alert alert-success"
      -if flash[:alert]
        = content_tag :div, flash[:alert], class: "alert alert-warning"
      -if flash[:error]
        = content_tag :div, flash[:error], class: "alert alert-danger"
      = yield

    = javascript_include_tag "application"

  %footer.footer
